DAGSHUB_USER=username
DAGSHUB_REPO=nov25cmlops_rakuten_dag
DAGSHUB_TOKEN=token

MLFLOW_TRACKING_URI=https://dagshub.com/shiff-oumi/nov25cmlops_rakuten_dag.mlflow
MLFLOW_TRACKING_USERNAME=username
MLFLOW_TRACKING_PASSWORD=token


GITHUB_USER=username
GITHUB_REPO=nov25cmlops_rakuten
GIT_AUTHOR_NAME=Rakuten MLOps
GIT_AUTHOR_EMAIL=mlops@rakuten.local