fastapi
uvicorn
gunicorn
loguru
python-dotenv
python-jose[cryptography]
python-multipart
pyyaml
numpy
pandas
scikit-learn
tqdm
typer
httpx
prometheus-client
prometheus-fastapi-instrumentator
dvc[s3]
boto3
dagshub
mlflow
evidently==0.6.7 
-e .
